.rbc-time-view .rbc-time-content {
  display: none;
}
.no-nav-buttons .rbc-toolbar {
  display: none;
}

.pointer{
  cursor: pointer;
}

*{
  margin: 0;
  padding: 0;
}

.custom-scrollbar{
  overflow-y: scroll;
  max-height: 80vh;
}

body{
  background-image: url("./assets/img/AppTurniBack.jpeg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;


  
}